<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" href="style.css" data-inline>
</head>

<body>
    <div>
        <p>Next Steps for Participatory Learning... </p>
        <p>Hello,</p>
        <p>Welcome to the Participatory Learning system for (<%=number>-<%=section_number>) <%=course_name> (<%=semester_name>)!</p>
        <p>Please log into the system now to set up your connection. You will be asked to enter the following temporary password, and then to make a new password.</p>
        <p>System login: https://pla.njit.edu:<%=port> </p>
        <p>Login ID: <%=email> </p>
        <p>Temporary Password: <%=pass> </p>
        <p>When your instructor has started an assignment, you will be notified that your first task is ready.</p>
        <p>For technical support for the Participatory Learning system, contact: bieber@njit.edu</p>
        <p>Thanks,</p>
        <p>The Participatory Learning Team</p>
    </div>
</body>

</html>