<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" href="style.css" data-inline>
</head>

<body>
    <div>
        <p>Hello,</p>
        <p>Welcome to the Participatory Learning system for (<%=number>-<%=section_number>) <%=course_name> (<%=semester_name>)!</p>
        <p>You have been added to this course as <%=role>. </p>
        <p>https://pla.njit.edu:<%=port></p>
        <p>For technical support for the Participatory Learning system, contact:
        <a mailto:bieber@njit.edu>bieber@njit.edu</a></p>
        <p>Thanks,</p>
        <p>The Participatory Learning Team</p>
    </div>
</body>

</html>