<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" href="style.css" data-inline>
</head>

<body>
    <div>
        <div>Deadline: <%= due_date></div>
        <div>Assignment: <%= assignment_display_name></div>
        <div><%=task_display_name} (revision ready for review)</div>
        <div>Course: (<%=number>-<%=section_number>) <%=course_name></div>
        <div>
            <p>Hello,</p>
            <p>You have a new revision to review (and either approve or return for further revision) in the Participatory Learning System. Please login using the following link.</p>
            <p>System login: https://pla.njit.edu:<%=port>\nLogin ID: <%=email></p>
        </div>
        <div>
            <p>To contact the instructor: </p>
            <% for (var i = 0; i < instructors.length; i++) { %>
                <%=instructor[i].name>:  <%=instructor[i].email>
            <% } %>
        </div>
        <div>
            <p>For technical support for the Participatory Learning system, contact:
            <a mailto:bieber@njit.edu>bieber@njit.edu</a></p>
            <p>Thanks,</p>
            <p>The Participatory Learning Team</p>
        </div>
        
    </div>
</body>

</html>